body{
    width:100%;
    height:auto;
    background-color: antiquewhite;
}

header{
    display:flex;
    border:1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
    background: linear-gradient(125deg, rgba(50,24,208,1) 0%, rgba(5,178,246,1) 35%, rgba(152,7,244,1) 100%);
}

main{
    display:flex;
    border:1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
}

container{
    max-height:500px;
    max-width: 400px;
    padding:10px;
    background-color: navy;
    padding: 10px;
}

img{
    width: 30%;
    height:auto;
    max-width: 600px;
    min-width: 300px;
    max-height: 400px;
    min-height: 400px;
    box-shadow: 10px 10px 5px #aaaaaa;
    transform: rotate(10deg) scale(0.75) translate(-5%, -5%) skew(-10deg, -10deg);
}

cart{
    border:1px solid black;
    padding: 40px;
    background-color: aliceblue;
    min-width:400px;
}

/* New elements */
.newElement{
    border:1px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: white;
    color:black;
}